<label for={{this.selectId}}> {{@label_text}} : </label>

<select id={{this.selectId}} form={{@form_id}} name={{@select_name}} {{on "change" @onSelectValue}}>

  <option value= ""> --Please Choose an option-- </option>
  {{#each @model as |model_item|}}
    <option value= {{model_item.id }} required="true" > {{model_item.name}} </option>
  {{/each}}

</select>
