{{page-title "Countries"}}

<div class="grid__item grid__item__main">

  <h1> Hey Traveller!</h1>

  <h4>Which country are you in?</h4>

  <Form @id="select-country" @label="In which country are you travelling?">
    <PowerSelect
      @matchTriggerWidth = {{false}}
      @options={{this.countries}}
      @selected={{this.country}}
      @onChange={{fn (mut this.country)}} as |country|>
        {{country.name}}
    </PowerSelect>
    <Button class="margin-up-small" @action_name="Choose" @id="select-country" {{on "click" this.goToCountry}}/>
  </Form>

  {{outlet}}

</div>
