{{page-title this.country.name}}

<h1> Welcome in {{this.country.name}}</h1>

<Form @action={{this.urlDijkstra}} @method="get" @button_name="Search" @id="select-path"> 
    <PowerSelect 
        @options={{this.cities}}
        @selected={{this.city_start}}
        @onChange={{fn (mut this.city_start)}} as |city|>
            {{city.name}}
    </PowerSelect>

    <PowerSelect 
        @options={{this.cities}}
        @selected={{this.city_end}}
        @onChange={{fn (mut this.city_end)}} as |city|>
            {{city.name}}
    </PowerSelect>
</Form>
