{{page-title @model.name}}

<h1> Welcome in {{@model.name}}</h1>

{{#each @model.cities as |city|}}
    <h3>{{city.name}}</h3>
{{/each}}


<DropDown 
  @id="city_start_id" 
  @label="city of departure" 
  @model={{@model.cities}} 
/>
and 
<DropDown 
  @id="city_end_id" 
  @label="city of arrival" 
  @model={{@model.cities}} 
/>