{{page-title "Countries"}}

<h1> Hello you!</h1>

<Form @action={{this.urlCountry}} @method="get" @button_name="Choose" @id="select-country">
  <PowerSelect
    @options={{this.countries}}
    @selected={{this.country}}
    @onChange={{fn (mut this.country)}} as |country|>
      {{country.name}}
  </PowerSelect>
</Form>

{{outlet}}
